<%= turbo_frame_tag "note_#{note.id}" do %>
<div class="single-note">
  <%= link_to "Edit", edit_note_path(note), class: "btn right-btn edit-note", data: { action: "click->note#blurBackground" } %>
  <%= note.render_note %><br>
</div>
<% end %>