<div class="post" data-controller="post">
  <header class="align--center">
  <span><%= @post.created_at.strftime("%B %d, %Y") %></span>

  <h2><%= @post.title %></h2>
  </header>

  <div data-action="load@window->post#highlight()">
    <%= @post.render_markdown %>
  </div>
</div>

<%= render "footer" %>
